<html>  
    <head>  
        <title>digit recognition</title>  
    </head>  
    <body style="background:plum;"> 
        <div class="col text-center">
            <h1>Digit Recognition With Accuracy</h1>
        </div>
        <hr/>
        <div class="row">
            <div class="col">
                <h4>Upload new File</h4> 
        <form action = "/prediction" method = "post" enctype="multipart/form-data">  
            <input type="file" name="file" />  
            <input type = "submit" value="Upload">  
        </form>  
             </div>
        </div>     
    </body>  
    </html>  